.navbar {
      margin-bottom: 0;
      border-radius: 0;
	  padding-left: 850px;
	  
	}
    .row.content {height: 700px
	  
	}
    
    .sidenav {
      background-color: #0EE1DE;
      height: 100%;
	  
	  
	}
    
	.jumbotron {
	  margin-bottom: 0;
	  padding-bottom: 60px;
	  
	  
	 } 
	 .container {
	  
	  
	  
	  
	  
	}
    footer {
      background-color: #555;
      color: white;
      padding: 20px;
    }
    
		
	  
	  } 
    }